FIREBASE_PROJECT_ID=well-pump-control
FIRESTORE_DATABASE_ID=(default)
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_WEB_API_KEY=
FIREBASE_RTDB_URL=https://well-pump-control-default-rtdb.firebaseio.com
PILOT_INGEST_TOKEN=
PILOT_DEVICE_ID=shelly-em-well
